.ant-layout.layout {
    background: #fff;
}

.search-wrapper {
    padding: 20px;
    background: #eaf5ff;
    border-radius: 10px;
    margin: 20px 0;
    border: 2px solid #001529;
}

.ant-input-search-button {
    background: #001529;
    border-color: #001529;
}

.search-wrapper > div {
    margin-bottom: 10px;
}

.search-wrapper > div > span {
    margin: 0 5px;
}